* {
    padding: 0;
    margin: 0;
}
/* Colors the anchor tags */
a {
    color: rgb(45, 91, 143);
}
/* Sets the properties of the header */
.header {
    background-color: rgb(48, 45, 45);
    padding: 5px;
    color: white;
}

.header h1 {
    display: inline-block;
}

.top-nav {
    padding-top: 12px;
    float: right;
}

.top-nav ul li {
    display: inline-block;
}

.heading-picture {
    border-style: solid;
    border-width: 3px;
    height: 200px;
    width: auto;
}
/* Displays content in a column arrangement */
.content {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.maincontent{
    display: flex;
    flex-wrap: wrap;
}

.maincontent h2 {
    margin-right: 50%;
}
/* Sets up individual cards as images within a specific size */
.maincontent img {
    border-style: solid;
    border-width: 3px;
    flex: 1 0 20%;
    height: 200px;
    justify-content: space-between;
    margin: 2em;
}
/* ID is used to ensure the first project image is larger than the rest */
#larger {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 3px;
    width: 500px;
    margin: 100px;
    height: 600px;
}
/* Displays bottom nav bar in a row arrangement */
.bottom-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 50%;
}

.bottom-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

.bottom-nav ul li {
    padding: 10px;
    margin: 25px;
    list-style-type: none;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .content {
        flex-flow: row wrap;
    }

    .bottom-nav {
        padding-left: 1%;
    }
}